function Main.main 2
call DrawModule.new 0
pop local 1
push local 1
call DrawModule.drawLogoScreen 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 1
call Game.new 1
pop local 0
push local 0
call Game.title 1
pop temp 0
push local 0
call Game.play 1
pop temp 0
push local 0
call Game.fin 1
pop temp 0
push local 0
call Game.dispose 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push local 1
call DrawModule.dispose 1
pop temp 0
push constant 0
return
